.loading{
  border:solid white 5px;
  border-radius: 50%;
  border-left: none;
  border-bottom: none;
  width: 15px;
  height: 15px;
  animation: spinner 0.5s linear infinite;
}
@keyframes spinner {
  from{
    transform: rotate(0deg)
  }
  to{
    transform: rotate(360deg)
  }
}

